body {
    margin: auto;
}
header {
    text-align: center;
    /* below is the default background color */
    /* midnight green */
    background-color: #004953;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header h1 {
    font-size: 32px;
    margin: auto;
    padding-right: 64px;
    color: white
}

header img {

    width: 48px;
}
nav {
    max-width: 768px;
}
#menu {
    font-size: 36px;
    border: 0;
    background: none;
    color: #ffffff;

}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "❌";
}
.grid {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: decimal;
    margin-left: 20px;
}

.card li {
    margin-bottom: 10px;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #004953);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100vw;
}

footer {
    margin-bottom: auto;
    color: #fff;
    background-color: #004953;
    display: flex;
    flex-direction: row;
    width: auto;
    padding:15px;
    justify-content: center;
}
footer p {
    margin: 0 15px;
}
/* mobile view */
@media (max-width: 768px) {
    header {
        display: flex;
    }

    header img {
        display: flex;
        width: 64px;
        height: 64px;
    }
    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    
}